<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/kendo/css")


</head>
<body>

    <div class="container body-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="logo-container">
                        <img id="logo" src="~/Content/cu-online.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Course Cleanup</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
