@using CourseCleanup.Models
@model HomeViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="logo-container">
                <img id="logo" src="~/Content/cu-online.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    @Html.Partial("_IndexHeader")

                    <section id="loginForm">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(m => m.Terms)
                            @Html.HiddenFor(m => m.UserEmail);

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group input-group">
                                @Html.LabelFor(m => m.StartTerm, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.StartTerm, Model.Terms, new { @class = "form-control" })
                            </div>
                            <div class="form-group input-group">
                                @Html.LabelFor(m => m.EndTerm, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.EndTerm, Model.Terms, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        }
                    </section>

                    <hr />
                    <table class="table table-striped">
                        <caption>Course Search Status</caption>
                        <thead>
                            <tr>
                                <th><label class="control-label">Date Created</label></th>
                                <th><label class="control-label">Last Updated</label></th>
                                <th><label class="control-label">Start Term</label></th>
                                <th><label class="control-label">End Term</label></th>
                                <th><label class="control-label">Submitted By</label></th>
                                <th><label class="control-label">Status</label></th>
                                <th><label class="control-label">Status Message</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var search in Model.CourseSearchQueues)
                            {
                                <tr>
                                    <td>@search.DateCreated</td>
                                    <td>@search.LastUpdated</td>
                                    <td>@search.StartTermId</td>
                                    <td>@search.EndTermId</td>
                                    <td>@search.SubmittedByEmail</td>
                                    <td>@search.Status</td>
                                    <td>@search.StatusMessage</td>
                                    <td>@Html.ActionLink("View Report", "Index", "Report", routeValues: new { courseSearchQueueId = search.Id }, htmlAttributes: null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
