@using CourseCleanup.Models
@model IEnumerable<UnusedCourse>
@{
    ViewBag.Title = "Deleted Courses";
}

<h2>@ViewBag.Title</h2>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                SIS ID
            </th>
            <th>
                Term
            </th>
            <th>
                Last Updated
            </th>
        </tr>
    </thead>
    @foreach (var course in Model)
    {
        <tr>
            <td>
                @course.CourseCode
            </td>
            <td>
                @course.CourseName
            </td>
            <td>
                @course.CourseSISID
            </td>
            <td>
                @course.Term
            </td>
            <td>
                @course.LastUpdated
            </td>
        </tr>
    }
</table>